<!DOCTYPE html>
<html>
<head>
	<title>v-html</title>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
	<p>input 元素：</p>
	<input v-model="message" placeholder="编辑我...">
	<p>消息是：{{message}}</p>

	<p>textarea 元素：</p>
	<p style="white-space: pre;">{{message2}}</p>
	<textarea v-model="message2" placeholder="多行文本输入..."></textarea>
</div>

<script type="text/javascript">
	new Vue({
		el: '#app',
		data: {
			message: 'vue',
			message2: 'learning vue.js'
		}
	});
</script>
</body>
</html>